/* Global */

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* End Global */

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

/* Flex Container */
.container {
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

.column {
	min-height: 200px;
	flex-direction: column;
}

/* Flex Item */
.item {
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* Indica que o conteúdo deve se expandir */
.flex {
	flex: 1;
}

/* 

justify-content: flex-start;
Alinha os itens ao início do container.

justify-content: flex-end;
Alinha os itens ao final do container.

justify-content: center;
Alinha os itens ao centro do container.

justify-content: space-between;
Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final.

justify-content: space-around;
Cria um espaçamento entre os elementos. Os espaçamentos do meio são duas vezes maiores que o inicial e final. 

*/