/* Global */

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* Flex Container */
.container {
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

/* End Global */

.stretch {
	align-items: stretch;
}

.flex-start {
	align-items: flex-start;
}

.flex-end {
	align-items: flex-end;
}

.center {
	align-items: center;
}

.baseline {
	align-items: baseline;
}

.column {
	flex-direction: column;
}

/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.item:first-child {
	padding-top: 20px;
}

.alinhamento-central {
	height: 400px;
	justify-content: center;
	align-items: center;
}

.alinhamento-central .item {
	flex: 0;
	padding: 10px;
}

/* 

align-items: stretch;
Valor padrão, ele que faz com que os flex itens cresçam igualmente.

align-items: flex-start;
Alinha os itens ao início.

align-items: flex-end;
Alinha os itens ao final.

align-items: center;
Alinha os itens ao centro.

align-items: baseline;
Alinha os itens de acordo com a linha base da tipografia.

*/