body { 
  font-family: Arial;
  margin: 3.125rem;
}

h1 { 
  text-align: center;
}

h2 { 
  margin: 0rem;
}

.item { 
  background: #111;
  color: #FFF;
  padding: 1.875rem;
  margin: 1.25rem;
  border-radius: 0.25rem;
}

span { 
  color: #FEBE01;
}

p { 
  color: #B2B2B2;
}

a { 
  display: inline-block;
  background: #FEBE01;
  color: #332200;
  padding: 0.625rem;
  border-radius: 0.25rem;
  text-decoration: none;
}