/* Estilo Global */

body {
	font-family: monospace;
	color: #333;
}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

.container { 
  border: 1px solid #ccc;
  max-width: 400px;
  margin: auto;
}

/* End estilo global */

.flex { 
  display: flex;
}


/* Essa propriedade serve para quebrar o conteudo antes
  de estourar o container ele sempre realiza a quebra e por
  default ele vem como no-wrap
*/
.flex-wrap { 
  flex-wrap: wrap;
}


/* Essa propriedade pode ser utilizada para preencher 100% do container 
  com o conteudo do item
*/
.flex-item-1 {
	flex: 1;
}


/* Flex Item */
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}


/* 

display: flex;
Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. 

*/