/* Global */

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* Flex Container */
.container {
	max-width: 360px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

/* End Global */

.row-nowrap {
	flex-flow: row nowrap;
}


.column-nowrap {
	flex-flow: column nowrap;
}


.row-wrap {
	flex-flow: row wrap;
}


/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* 

flex-flow: row nowrap;
Coloca o conteúdo em linha e não permite a quebra de linha.

flex-flow: row wrap;
Coloca o conteúdo em linha e permite a quebra de linha.

flex-flow: column nowrap;
Coloca o conteúdo em coluna e não permite a quebra de linha. 

*/
