/* Global */
.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* End estilo global */

.row {
	flex-direction: row;
}

.row-reverse {
	flex-direction: row-reverse;
}


.column {
	flex-direction: column;
}


.column-reverse {
	flex-direction: column-reverse;
}


/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* 

flex-direction: row;
Os itens ficam em linha

flex-direction: row-reverse;
Os itens ficam em linha reversa, ou seja 3, 2, 1.

flex-direction: column;
Os itens ficam em uma única coluna, um embaixo do outro.

flex-direction: column-reverse;
Os itens ficam em uma única coluna, um embaixo do outro, porém em ordem reversa: 3, 2 e 1. 

*/