/* Global */

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* Flex Container */
.container {
	max-width: 420px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
}

/* End Global */

.stretch {
	align-content: stretch;
}

.flex-start {
	align-content: flex-start;
}

.flex-end {
	align-content: flex-end;
}

.center {
	align-content: center;
}

.space-between {
	align-content: space-between;
}

.space-around {
	align-content: space-around;
}

/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* 


align-content: stretch;
Valor padrão, ele que faz com que os flex itens cresçam igualmente na vertical.

align-content: flex-start;
Alinha todas as linhas de itens ao início.

align-content: flex-end;
Alinha todas as linhas de itens ao final.

align-content: center;
Alinha todas as linhas de itens ao centro.

align-content: space-between;
Cria um espaçamento igual entre as linhas. Mantendo a primeira grudada no topo e a última no bottom.

align-content: space-around;
Cria um espaçamento entre as linhas. Os espaçamentos do meio são duas vezes maiores que o top e bottom.

*/