/* Global */
.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}

/* End estilo global */

.nowrap {
	flex-wrap: nowrap;
}


.wrap {
	flex-wrap: wrap;
}


.wrap-reverse {
	flex-wrap: wrap-reverse;
}


/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* 

flex-wrap: nowrap;
Valor padrão, não permite a quebra de linha.

flex-wrap: wrap;
Quebra a linha assim que um dos flex itens não puder mais ser compactado.

flex-wrap: wrap-reverse;
Quebra a linha assim que um dos flex itens não puder mais ser compactado. A quebra é na direção contrária, ou seja para a linha acima. 

*/