body { 
  font-family: Arial;
}

h1 { 
  text-align: center;
}

.button { 
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item { 
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
}

.grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}